// 色
$textColor: #444;
$bgColor: #e9e6d4;
$themeColor: #005335;
$subColor: #b68e55;

// フォント
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap");
$sansSerif: "Customed Nunito", "Zen Maru Gothic", "筑紫A丸ゴシック", sans-serif;
$textbookTypeface: "Klee One", "游教科書体", "HG教科書体", sans-serif;
@font-face {
	font-family: "Customed Nunito";
	src: url("Nunito-Medium.woff2");
	font-weight: 500;
	size-adjust: 108%;
}

// 横幅
$mainWidth: unquote("min(85vw, 800px)");

@function pxToRem($px) {
	@return $px / 16 * 1rem
}