// 色
$textColor: #444;
$bgColor: #e9e6d4;
$themeColor: #005335;
$subColor: #b68e55;

// フォント
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@550&display=swap");
$sansSerif: "Nunito", "Zen Maru Gothic", "筑紫A丸ゴシック", sans-serif;
$textbookTypeface: "Klee One", "游教科書体", "HG教科書体", sans-serif;
@function pxToRem($px) {
	@return $px / 16 * 1rem
}

// 横幅
$mainWidth: unquote("min(85vw, 800px)");