@import "var";

.tabs {
	display: flex;
	flex-wrap: wrap;
	margin-block-start: 32px;
	.tabLabels {
		inline-size: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.tabWrapper {
			flex: 1;
			padding: 16px;
			margin-inline: 8px;
			border: pxToRem(1) solid $themeColor;
			border-block-end: none;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			&:not(.activeLabel) {
				cursor: pointer;
			}
			&.activeLabel {
				background: $bgColor;
			}
			&.outline {
				outline: auto;
			}
		}
	}
	hr {
		inline-size: 100%;
		border: pxToRem(1) solid $themeColor;
		border-block-end: none;
		margin-block-start: pxToRem(-1);
		z-index: -1;
	}
	.tabContents {
		inline-size: 100%;
		.tabWrapper {
			display: none;
			&.activeContent {
				display: block;
			}
		}
	}
}