@import "var";

* {
	box-sizing: border-box;
	&:focus:not(.focus-visible) {
		outline: none;
	}
}

body {
	margin: 0;
	padding: 0;
	font: 500 16px/1.8 $sansSerif;
	color: $textColor;
	background: $bgColor;
	// 100vwを使うと横スクロールが発生する問題の解決法
	& > div {
		overflow: hidden;
	}
}

[hidden] {
	display: none !important;
}

dialog, noscript {
	z-index: 4;
	border-radius: 8px;
	background: white;
	box-shadow: 0 2px 24px rgba(black, .2);
	text-align: center;
}

noscript {
	position: fixed;
	inset: 0;
	inline-size: calc($mainWidth - 100px);
	block-size: fit-content;
	margin: auto;
	padding: 16px;
}

#moveToYourLang {
	padding-block: 16px;
	padding-inline: 32px;
	border: none;
	menu {
		display: flex;
		justify-content: center;
		gap: 16px;
		padding-inline-start: 0;
		button, .button {
			margin: 0;
			padding-block: 8px;
		}
	}
}

header {
	inline-size: 100vw;
	position: fixed;
	inset-block-start: 0;
	inset-inline-start: 0;
	z-index: 3;
	padding-block: 24px 20px;
	padding-inline: calc((100vw - $mainWidth) / 2);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: rgba($bgColor, .9);
	#siteLogo img {
		block-size: 64px;
	}
	#hamburger {
		inline-size: 45px;
		block-size: 60px;
		padding: 10px;
		padding-inline-end: 0;
		margin-block: auto;
		cursor: pointer;
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		div {
			inline-size: 100%;
			block-size: 4px;
			background: $subColor;
			box-shadow: 1px 2px 8px rgba(white, .25);
			transition: all .3s ease;
		}
		&.checked {
			div:first-of-type {
				transform-origin: center;
				transform: translateY(13.3px) rotate(-45deg);
			}
			div:nth-of-type(2) {
				background: transparent;
			}
			div:last-of-type {
				transform-origin: center;
				transform: translateY(-13.3px) rotate(45deg);
			}
		}
	}
}

.pagesLinks {
	inline-size: 100%;
	margin-block: 32px;
	margin-inline: auto;
	padding-block: 16px;
	padding-inline: 24px;
	border-radius: 60px;
	background: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	.inner {
		display: inline-block;
		font-size: 1.5rem;
		color: $themeColor;
		margin: 16px;
		text-decoration: none;
		&.this {
			color: $subColor;
		}
	}
}

nav {
	inline-size: 100vw;
	block-size: 100vh;
	position: fixed;
	inset-block-start: 0;
	inset-inline-start: 0;
	z-index: 2;
	background: $bgColor;
	padding-block: 100px 40px;
	padding-inline: calc((100vw - $mainWidth) / 2);
	transition: all .3s ease;
	opacity: 1;
	&.hide {
		transform: translateY(-101vh);
		transition-timing-function: ease-in;
		opacity: 0;
	}
	.pagesLinks {
		margin-block-start: 24px;
		div {
			inline-size: 100%;
		}
		input.focus-visible + label {
			outline: auto;
		}
		input:checked + label {
			color: $subColor;
		}
	}
}

main {
	inline-size: $mainWidth;
	margin-block: 100px auto;
	margin-inline: auto;
	padding-block-start: 8px;
}

img {
	vertical-align: top;
}

a {
	color: $themeColor;
	text-decoration-thickness: pxToRem(1);
	text-underline-offset: 0.12em;
	transition: all .3s ease;
	&[target=_blank]::after {
		content: "";
		background: url(../img/link-icon.svg) center/0.8em auto no-repeat;
		display: inline-block;
		inline-size: 0.9em;
		block-size: 0.9em;
		vertical-align: pxToRem(-1);
		margin-inline: 0.15em;
	}
}
body {
	&.safari a {
		text-underline-offset: 0.17em;
		&:hover {
			text-decoration: none;
		}
	}
	&:not(.safari) a:hover {
		text-decoration-color: transparent;
	}
	@-moz-document url-prefix() {
		a {
			text-underline-offset: 0.2em;
		}
	}
}

h1, h2, h3 {
	border-inline-start: pxToRem(4) solid $subColor;
	padding-inline-start: 1rem;
	line-height: 1.8;
	font-weight: 500;
	&.noBorder {
		border-inline-start: none;
		padding-inline-start: 0;
	}
}

h3 {
	line-height: 1.4;
	margin-block: 1.3em 0.7em;
}

p, ul, li {
	margin-block: 0.7em;
}

section {
	margin-block: 32px;
}

input {
	&:invalid {
		outline: 2px solid #c5175a;
	}
	&[type=checkbox] {
		accent-color: $themeColor;
		vertical-align: baseline;
	}
}
body {
	&.safari input[type=checkbox] {
		inline-size: 1.2em;
		block-size: 1.2em;
	}
	&.chromium input[type=checkbox] {
		vertical-align: -0.1em;
	}
	&.chromium.android input[type=checkbox] {
		vertical-align: -0.2em;
	}
}

input, button {
	font-family: $sansSerif;
}

button, input[type=checkbox], label {
	cursor: pointer;
}

button, .button {
	display: inline-block;
	padding-block: 12px;
	padding-inline: 16px;
	margin-inline-end: 12px;
	margin-block-end: 12px;
	border-radius: pxToRem(8);
	border: 2px solid $themeColor;
	background: $themeColor;
	font-size: 1rem;
	color: white;
	text-decoration: none;
	transition: all .3s ease;
	&:hover {
		box-shadow: 0 2px 2px rgba(black, 0.3);
	}
}

summary {
	cursor: pointer;
}

.hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	margin: -1px;
	border: 0;
	overflow: hidden;
	padding: 0;
	clip: rect(0, 0, 0, 0);
}

li {
	h4, dl {
		margin-block: 0;
	}
	h4 {
		font-size: 1.1rem;
	}
	dd {
		margin-inline-start: 2rem;
	}
}

dt {
	margin-block-start: 8px;
	font-size: 1.05rem;
}

dd {
	margin-block-end: 12px;
	margin-inline-start: 32px;
}

h4 {
	margin-block: 8px;
	font-weight: normal;
}

table {
	inline-size: 100%;
	min-inline-size: 780px;
	ul {
		padding-inline-start: 0;
		li {
			display: block;
		}
	}
	thead :is(th, td) {
		border-block-start: 1px solid #333;
	}
	th, td {
		text-align: center;
		border-block-end: 1px solid #333;
		padding-block: 8px;
		padding-inline: 16px;
	}
	th {
		font-weight: 500;
	}
}

footer {
	background: $bgColor;
	text-align: center;
	padding: 40px;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin-block: 0;
			margin-inline: 16px;
		}
	}
}

.js-scrollable {
	overflow-y: auto;
}