// 色
$textColor: #333;
$bgColor: #fcf8e6;
$themeColor: #458d26;
// $themeColor: #5E9D7C;
$subColor: #C26850;

// フォント
$sansSerif: -apple-system, BlinkMacSystemFont, sans-serif;
$textbookTypeface: "Klee One", "游教科書体", "HG教科書体", sans-serif;