@import "var";

html {
	background-color: $bgColor;
}

nav.hide + header #siteName {
	// transition: all .3s ease;
	opacity: 0;
	visibility: hidden;
}

header {
	background: none;
}

#kokuban {
	position: relative;
	height: 60vh;
	#kokubanImg {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	#kokubanText {
		object-fit: scale-down;
		position: absolute;
		top: 4%;
		left: 0;
		right: 0;
		height: 80%;
		margin: auto;
	}
	#wave {
		width: 100vw;
		max-height: 100px;
		min-height: 70px;
		position: absolute;
		left: 0;
		bottom: -1px;
	}
}

main {
	all: initial;
	display: block;
	text-align: center;
	#logo {
		display: block;
		width: 240px;
		margin: 0 auto 32px;
	}
	.pagesLinks {
		width: 80vw;
		& + p {
			font-family: $sansSerif;
			color: $textColor;
			line-height: 1.8;
			width: 80vw;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

#footerImg {
	display: none;
	// margin-top: 0;
}