@import "var";

#siteName {
	transition: all .3s ease-in;
	&.hide {
		opacity: 0;
		visibility: hidden;
		transition: all .32s ease;
	}
}

header {
	background: none;
}

#kokuban {
	position: relative;
	height: 60vh;
	#kokubanImg {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center 80%;
	}
	.kokubanText {
		position: absolute;
		top: 8%;
		left: 0;
		right: 0;
		height: 80%;
		writing-mode: vertical-rl;
		font-size: 5vh;
		color: #eee;
		display: flex;
		align-items: center;
		text-align: right;
		[lang=en-us] {
			position: absolute;
			top: 10%;
			left: 42%;
		}
	}
	#wave {
		width: 100vw;
		max-height: 100px;
		min-height: 70px;
		position: absolute;
		left: 0;
		bottom: -1px;
	}
}

main {
	text-align: center;
	margin-top: 0;
	padding-top: 0;
	#logo {
		display: block;
		width: 60px;
		margin: 10px auto;
	}
}