@import "var";

.tabs {
	display: flex;
	flex-wrap: wrap;
	margin-top: 32px;
	.tabLabels {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.tabWrapper {
			flex: 1;
			padding: 16px;
			margin: 0 8px;
			border: 1px solid $themeColor;
			border-bottom: 0;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			&:first-of-type {
				margin-left: 8px;
			}
			&:last-of-type {
				margin-right: 8px;
			}
			&:not(.activeLabel) {
				cursor: pointer;
			}
			&.activeLabel {
				background: $bgColor;
			}
			&.outline {
				outline: auto;
			}
		}
	}
	hr {
		width: 100%;
		border: 1px solid $themeColor;
		border-bottom: none;
		margin-top: -1px;
		z-index: -1;
	}
	.tabContents {
		.tabWrapper {
			display: none;
			&.activeContent {
				display: block;
			}
		}
	}
}