@import "var";

* {
	box-sizing: border-box;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

.focus-visible {
	outline: auto;
}

body {
	margin: 0;
	padding: 0;
	font: 500 16px/1.8 $sansSerif;
	color: $textColor;
	font-feature-settings: "pkna";
	background: $bgColor;
	@media (max-width: 340px) {
		font-size: 14px;
	}
	// 100vwを使うと横スクロールが発生する問題の解決法
	& > div {
		overflow: hidden;
	}
}

noscript {
	position: fixed;
	z-index: 5;
	width: 50%;
	min-width: 300px;
	top: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 16px;
	background: lighten($bgColor, 5%);
	text-align: center;
	box-shadow: 0 2px 20px rgba(black, .2);
	border-radius: 8px;
}

header {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	padding: 24px calc((100vw - #{$mainWidth}) / 2) 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: rgba($bgColor, .9);
	#siteName {
		border-bottom: none;
		img {
			height: 65px;
		}
	}
	#hamburger {
		width: 50px;
		height: 50px;
		padding: 10px;
		margin: auto -10px auto 0;
		cursor: pointer;
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		div {
			width: 100%;
			height: 3px;
			background: $subColor;
			box-shadow: 1px 2px 8px rgba(white, .25);
			transition: all .3s ease;
		}
		&.checked {
			div:first-of-type {
				transform-origin: center;
				transform: translateY(10px) rotate(-45deg);
			}
			div:nth-of-type(2) {
				background: transparent;
			}
			div:last-of-type {
				transform-origin: center;
				transform: translateY(-10px) rotate(45deg);
			}
		}
	}
}

.pagesLinks {
	width: 100%;
	margin: 32px auto;
	padding: 16px 24px;
	border-radius: 60px;
	background: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	.inner {
		display: inline-block;
		font-size: 1.5rem;
		color: $themeColor;
		margin: 16px;
		border-bottom: none;
	}
}

nav {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background: $bgColor;
	padding: 100px calc((100vw - #{$mainWidth}) / 2) 40px;
	transition: all .3s ease;
	opacity: 1;
	&.hide {
		transform: translateY(-100vh);
		transition-timing-function: ease-in;
		opacity: 0;
	}
	.pagesLinks {
		margin-top: 24px;
		div {
			width: 100%;
		}
		input.focus-visible + label {
			outline: auto;
		}
		input:checked + label {
			color: $subColor;
		}
	}
}

main {
	width: $mainWidth;
	margin: 100px auto auto;
	padding-top: 8px;
}

img {
	vertical-align: top;
}

a {
	color: $themeColor;
	text-decoration: none;
	border-bottom: 1px solid $themeColor;
	transition: all .3s ease;
	&:hover {
		border-bottom-color: transparent;
	}
}

h1, h2, h3 {
	border-left: 4px solid $subColor;
	padding-left: 16px;
	line-height: 1.8;
	font-weight: 500;
}

h3 {
	line-height: 1.4;
	margin: 1.3em 0 0.7em;
}

p, ul, li {
	margin: 0.7em 0;
}

section {
	margin: 32px 0;
}

input {
	vertical-align: 0.08em;
	&:invalid {
		outline: 2px solid #c5175a;
	}
	&[type=number] {
		border: none;
		border-radius: 4px;
		padding: 4px;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
	input {
		vertical-align: -0.06em;
	}
}

:is(input, button) span {
	font-family: $sansSerif;
}

button, label {
	cursor: pointer;
}

button {
	padding: 12px 16px;
	margin: 0 8px 12px 0;
	border-radius: 8px;
	border: 2px solid $themeColor;
	background: $themeColor;
	color: white;
	font-size: 1rem;
	transition: all .3s ease;
	&:hover {
		box-shadow: 0 2px 4px rgba(black, 0.3);
	}
}

summary {
	cursor: pointer;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	overflow: hidden;
	padding: 0;
	clip: rect(0, 0, 0, 0);
}

li {
	h4, dl {
		margin: 0;
	}
	h4 {
		font-size: 1.1rem;
	}
	dd {
		margin-left: 24px;
	}
}

dt {
	margin-top: 8px;
}

dd {
	margin-bottom: 12px;
}

h4 {
	margin: 8px 0;
	font-weight: normal;
	& + ul {
		margin: 0;
	}
}

table {
	width: 100%;
	min-width: 780px;
	ul {
		padding-left: 0;
		li {
			display: block;
		}
	}
	thead :is(th, td) {
		border-top: 1px solid #333;
	}
	th, td {
		text-align: center;
		border-bottom: 1px solid #333;
		padding: 8px 16px;
	}
	th {
		font-weight: 500;
	}
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	margin-top: 32px;
	.tabLabel {
		flex: 1;
		padding: 16px;
		margin: 0 8px;
		border: 1px solid $themeColor;
		border-bottom: 0;
		text-align: center;
		&:first-of-type {
			margin-left: 8px;
		}
		&:last-of-type {
			margin-right: 8px;
		}
		&.activeLabel {
			background: $bgColor;
		}
	}
	hr {
		width: 100%;
		border: 1px solid $themeColor;
		border-bottom: none;
		margin-top: -1px;
		z-index: -1;
	}
	.tabContent {
		display: none;
		&.activeContent {
			width: 100%;
			display: block;
		}
		section:first-of-type {
			margin-top: 24px;
		}
	}
}

footer {
	background: $bgColor;
	text-align: center;
	padding: 40px;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin: 0 16px;
		}
	}
}

.js-scrollable {
	overflow-y: auto;
}