@import "var";

html {
	font: 400 16px/1.8 $sansSerif;
	color: $textColor;
	font-feature-settings: "pkna";
	@media (max-width: 340px) {
		font-size: 14px;
	}
}

* {
	box-sizing: border-box;
	&:focus:not(:focus-visible) {
		outline: none;
	}
}

body {
	margin: 0;
	padding: 0;
	// background: $bgColor;
	// 100vwを使うと横スクロールが発生する問題の解決法
	& > div {
		overflow: hidden;
	}
}

header {
	width: 100%;
	min-height: 80px;
	padding: 0 unquote("max(7.5vw, (100vw - 1000px)/2)");
	background: rgba(white, .95);
	position: fixed;
	top: 0;
	z-index: 3;
	box-shadow: 0 2px 10px rgba(black, .1);
	display: flex;
	#siteName {
		font-size: 1.5rem;
		color: $themeColor;
		margin: calc((80px - 1.5rem * 1.8) / 2) 0;
		text-decoration: none;
		@media (max-width: 850px) {
			&:not([hidden]) {
				display: inline-block;
			}
		}
	}
	#hamburger {
		display: none;
		width: 25px;
		height: 20px;
		margin: calc((80px - 20px) / 2) 0;
		float: right;
		position: relative;
		div {
			width: 100%;
			height: 3px;
			background: $themeColor;
			position: absolute;
			transition: all .3s ease;
			&:first-of-type {
				top: 0;
			}
			&:nth-of-type(2) {
				top: calc(50% - 1.5px);
			}
			&:last-of-type {
				bottom: 0;
			}
		}
		&.checked {
			div:first-of-type {
				transform-origin: center;
				transform: translateY(8.4px) rotate(-45deg);
			}
			div:nth-of-type(2) {
				background: transparent;
			}
			div:last-of-type {
				transform-origin: center;
				transform: translateY(-8.4px) rotate(45deg);
			}
		}
	}
	@media (max-width: 850px) {
		display: block;
		#hamburger {
			display: block;
		}
	}
	nav {
		margin-left: auto;
		margin-right: 0;
		@media (max-width: 850px) {
			&.hide {
				display: none;
			}
		}
		ul {
			list-style: none;
			display: flex;
			height: 100%;
			margin: auto 0;
			padding-left: 0;
			@media (max-width: 850px) {
				display: block;
				margin: 0 0 1em;
			}
			li {
				margin: auto auto auto 40px;
				@media (max-width: 850px) {
					margin: 0 0 1em;
				}
				a, summary {
					color: $subColor;
					cursor: pointer;
					text-decoration: none;
					padding-bottom: 5px;
					border-bottom: 1px solid $subColor;
					transition: all .3s ease;
					&:hover {
						border-bottom-color: transparent;
					}
				}
				&#selectLi {
					position: relative;
					display: inline;
					details {
						display: inline;
					}
					summary {
						padding-bottom: 2px;
					}
					#optionsLang {
						background: white;
						border: 1px solid $subColor;
						border-top: none;
						margin-top: 8px;
						width: 100%;
						padding: 8px;
						position: absolute;
					}
				}
			}
		}
	}
}

main {
	max-width: 1000px;
	width: 85vw;
	margin: 80px auto auto;
	padding-top: 24px;
}

a {
	color: $subColor;
	&:hover {
		text-decoration: none;
	}
	&.button {
		text-decoration: none;
		padding: 12px 16px;
		border-radius: 4px;
		border: 2px solid $themeColor;
		background: $themeColor;
		color: white;
		font-size: 1rem;
		transition: all .3s ease;
		&::after {
			content: " →";
		}
		&:hover {
			background: white;
			color: $themeColor;
		}
	}
}

h1, h2, h3 {
	border-left: 4px solid $subColor;
	padding-left: 16px;
	line-height: 1.8;
}

h3 {
	line-height: 1.4;
	margin: 0.5em 0;
}

section {
	margin: 32px 0;
}

input {
	vertical-align: 0.08em;
	&:invalid {
		outline: 3px solid #db1616d2;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
	input {
		vertical-align: -0.06em;
	}
}

input, button, select {
	font-family: $sansSerif;
}

button, select {
	cursor: pointer;
}

button {
	padding: 12px 16px;
	border-radius: 4px;
	border: 2px solid $themeColor;
	background: $themeColor;
	color: white;
	font-size: 1rem;
	transition: all .3s ease;
	&:hover {
		box-shadow: 0 2px 4px rgba(black, 0.3);
		// background: white;
		// color: $themeColor;
	}
}

summary {
	cursor: pointer;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	overflow: hidden;
	padding: 0;
	clip: rect(0, 0, 0, 0);
}