@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import "../../scss/var";

@media print {
	body {
		background: none;
	}
	main {
		width: initial;
	}
}

$blankWide: 3em;
$phraseWide: 1.6em;

// 印刷
@page {
	size: A4 landscape;
	margin: 40px 0 0;
}

.tabContent {
	margin: 16px 0;
	p:first-child {
		margin: 0;
	}
	&:last-of-type {
		summary h3 {
			display: inline-block;
			width: calc(100% - 100px);
			padding-left: 0;
			border-left: none;
		}
		button {
			margin-bottom: 16px;
		}
		.kanjiChoicesDiv {
			display: flex;
			flex-wrap: wrap;
			label {
				padding: 8px 12px;
				border-radius: 8px;
				margin-right: 8px;
				margin-bottom: 8px;
				background: white;
			}
		}
	}
}

.dash {
	letter-spacing: -0.1em;
	margin-right: 0.2em;
}

.scroll {
	overflow: auto;
}

#testArea {
	margin-top: 0;
	font-family: $textbookTypeface;
	padding-bottom: 32px;
	counter-reset: questions;
	@media screen {
		width: 297mm;
	}
	@media print {
		padding: 32px;
	}
	#testTitle {
		display: grid;
		grid-template-columns: 40px * 7 1fr 150px;
		border: 1px solid $textColor;
		border-radius: 16px;
		padding: 0 16px 0 16px * 1.5;
		height: 72px;
		#title {
			font-size: 40px;
			line-height: 1.65;
			margin: 0;
		}
		#name {
			font-size: 18px;
			writing-mode: vertical-lr;
			text-align: center;
			padding-left: 16px;
			border-left: 1px solid $textColor;
			margin: 0;
		}
		#score {
			font-size: 18px;
			text-align: end;
			border-left: 1px solid $textColor;
			position: relative;
			> span {
				position: absolute;
				right: 0;
				bottom: 5px;
			}
		}
	}
	> p {
		margin-bottom: 32px;
	}
	#questionsDiv {
		font-size: 18px;
		font-feature-settings: normal;
		@mixin grid() {
			display: grid;
			grid-template-rows: 18px * 10;
			grid-template-columns: repeat(8, calc(#{$phraseWide} + #{$blankWide}));
			gap: 3em;
		}
		@media screen {
			@include grid();
			gap: auto;
			padding-bottom: 1em;
		}
		.row {
			@include grid();
			@media print {
				padding: 1em 0 2em 5px;
				break-inside: avoid;
			}
		}
	}
}

@media print {
	_::-webkit-full-page-media, _:future, :root .row {
		padding-bottom: 1em !important;
		gap: 2em !important;
	}
	_::-webkit-full-page-media, _:future, :root #testArea {
		padding: 1em 2em;
	}
	@-moz-document url-prefix() {
		.row {
			column-gap: 2.4em !important;
		}
	}
}

.question {
	grid-template-columns: 2em 1fr;
	grid-template-rows: $phraseWide $blankWide;
	writing-mode: vertical-rl;
	height: 18px * 10;
	display: grid;
	.counter {
		grid-column: 1;
		grid-row: 2;
		writing-mode: horizontal-tb;
		&::after {
			display: block;
			width: 1.8em;
			height: 1.8em;
			margin: auto;
			font-family: $sansSerif;
			font-size: 0.8rem;
			text-align: center;
			border: 1px solid $textColor;
			border-radius: 50%;
			counter-increment: questions;
			content: counter(questions);
		}
	}
	.blank {
		grid-column: 2;
		position: relative;
		.answer {
			display: block;
			font-size: 2em;
			line-height: 51px;
			text-align: center;
			width: 100%;
			height: 100%;
			&[hidden] {
				visibility: hidden;
			}
			&.long {
				font-size: 1.5em;
			}
		}
	}
}

.okurigana {
	.phrase {
		grid-column: 2;
		margin-top: 4px;
	}
	.yomigana {
		grid-column: 2;
		border-right: 1px solid $textColor;
	}
	.blank {
		width: $blankWide;
		height: calc(100% - 4px);
		margin-top: 4px;
		&::before, &::after {
			position: absolute;
			content: "";
			left: 0;
			width: calc(#{$blankWide} - 2px);
			height: 0.5em;
			border-left: 1px solid $textColor;
			border-right: 1px solid $textColor;
		}
		&::before {
			border-top: 1px solid $textColor;
			top: 0;
		}
		&::after {
			border-bottom: 1px solid $textColor;
			bottom: 0;
		}
	}
}

.tango {
	.phrase {
		grid-column: 2;
		grid-row: 2;
	}
	.blank {
		display: inline-block;
		width: calc(#{$blankWide} - 2px);
		height: $blankWide;
		border: 1px solid $textColor;
		margin: 4px 0;
		position: relative;
		.yomigana {
			position: absolute;
			right: calc(-#{$phraseWide} - 1px);
			text-align: center;
			height: 100%;
			&.long {
				top: -25%;
				height: 150%;
			}
		}
	}
}