@import "../../scss/var";

.imgDiv {
	display: flex;
	flex-wrap: wrap;
	figure {
		margin: 8px 0;
		margin-right: 0;
		width: calc(#{$mainWidth} / 2 - 20px);
		&:nth-of-type(2n) {
			margin-left: 40px;
			@media (max-width: 500px) {
				margin-left: 0;
			}
		}
		@media (max-width: 500px) {
			width: 100%;
		}
		img {
			width: 100%;
		}
		figcaption {
			// border-bottom: 2px solid $themeColor;
			margin: 4px 0 2px;
		}
	}
}