@import "../../scss/var";

// @for $i from 2 through 3 {
// 	[data-column="#{$i}"] {
// 		--column: #{$i};
// 		figure {
// 			&:first-of-type, &:nth-of-type(#{$i}n+1) {
// 				margin-left: 0;
// 			}
// 		}
// 	}
// }

.imgDiv {
	@media (max-width: 500px) {
		--column: calc(var(--column) - 1) !important;
	}
	&.long {
		@media (max-width: 600px) {
			--column: calc(var(--column) - 1) !important;
		}
	}
	display: grid;
	grid-template-columns: repeat(var(--column), 1fr);
	grid-gap: 16px 32px;
	margin: 1.3rem 0;
	figure {
		margin: 0;
		img {
			width: 100%;
		}
		figcaption {
			// border-bottom: 2px solid $themeColor;
			margin: 4px 0 0;
		}
	}
}

.column {
	border: 1px solid #b3b3b3;
	border-radius: 16px;
	padding: 16px 24px 8px;
	margin: 1.3rem + 0.6rem 0 1.3rem;
	position: relative;
	h2 {
		display: contents;
		span {
			position: absolute;
			top: -0.9em;
			left: 24px;
			font-size: 1.4rem;
			background: $bgColor;
			border-left: none;
			padding: 0 16px;
		}
	}
}